---
metadata:
  id: 1
  name: Footer
  file_type: footer
  last_edit: 1571315223489
---
<footer class="sg-footer sg-footer-01a sg-bg-secondary">
	<div class="container">
		<div class="row align-items-center text-center text-md-start">
			<div class="col-12 col-md-9 d-md-flex">
				<a class="d-inline-block mb-5 mb-md-0 me-md-5" href="/" title="e">
					<img src="{{context.exports.company_information.properties.logo_white | asset_url}}" width="164" />
				</a>
				<ul class="list-unstyled mb-5 mb-md-0 align-items-center flex-wrap">
					<li class="mb-3 mb-md-0 me-md-3 me-lg-5">
						<a href="#" title="Privacy" class="text-white">Privacy</a>
					</li>
					<li class="mb-3 mb-md-0 me-md-3 me-lg-5">
						<a href="#" title="About" class="text-white">About</a>
					</li>
					<li class="mb-3 mb-md-0 me-md-3 me-lg-5">
						<a href="https://admin.siteglide.com/" rel="noopener noreferrer" target="_blank" title="Admin" class="text-white">Admin</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-3">
				<ul class="list-unstyled d-flex justify-content-center justify-content-md-end">
					<li class="me-5">
						<a href="#" class="text-white">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="me-5">
						<a href="#" class="text-white">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" class="text-white">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>